# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE files
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite3

# System files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/
